<div class="mx-auto flex flex-col min-w-full">
  <div class="flex flex-col p-6 sm:p-10">

    <form [formGroup]="chatChannelForm" autocomplete="off" novalidate
      (ngSubmit)="createChatMessage(chatChannelForm.value)">
      <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-2xl mx-auto">
        <mat-card-title class="mb-4 text-center">Create a new Chat Channel</mat-card-title>

        <mat-card-content class="flex flex-col gap-4 mb-4">
          <mat-form-field>
            <input matInput type="text" placeholder="Channel Name" formControlName="channelName"
              id="channelName">
            <mat-hint align="end">Not more then 60 characters long.</mat-hint>
            <mat-error *ngIf="hasError('channelName', 'required')">Channel Name is required</mat-error>
            <mat-error *ngIf="hasError('channelName', 'maxlength')">You have more than 60 characters</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="ChatMessage Description" formControlName="description"
              id="description">
            <mat-hint align="end">Not more then 120 characters long.</mat-hint>
            <mat-error *ngIf="hasError('description', 'required')">Channel description is
              required</mat-error>
            <mat-error *ngIf="hasError('description', 'maxlength')">You have more than 120
              characters</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-form-field class="min-w-52">
          <mat-select placeholder="Channel Type" formControlName="channelType" id="channelType">
            <mat-option *ngFor="let channelType of chatChannelTypes" [value]="channelType.value">
              {{channelType.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
                
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" [disabled]="!chatChannelForm.valid">Create</button>
          <button class="ml-4" type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </mat-card-actions>
      </div>
    </form>
  </div>
</div>