<div class="mx-auto flex flex-col min-w-full">
	<div class="flex flex-col p-6 sm:p-10">
		<form [formGroup]="authorForm" autocomplete="off" novalidate (ngSubmit)="createAuthor(authorForm.value)">
			<div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-2xl mx-auto">

				<mat-card-title class="mb-4 text-center">Create a new Author</mat-card-title>

				<mat-card-content>

					<div fxLayout="column wrap">

						<mat-form-field>
							<input matInput type="text" placeholder="Author" formControlName="authorName"
								id="authorName">
							<mat-hint align="end">Not more then 60 characters long.</mat-hint>
							<mat-error *ngIf="hasError('authorName', 'required')">Author Name is
								required</mat-error>
							<mat-error *ngIf="hasError('authorName', 'maxlength')">You have more than 60
								characters</mat-error>
						</mat-form-field>

					</div>

				</mat-card-content>

				<mat-card-actions align="start">
					<button mat-raised-button color="primary" [disabled]="!authorForm.valid">Create</button>
					<button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
				</mat-card-actions>

			</div>
		</form>
	</div>
</div>