<div class="flex flex-col items-center justify-center w-full">
	<div class="header-image flex flex-auto items-center justify-center text-center">
		<span class="header-text"> 
			The Social Network for Technology minded <br />individuals (and friends) 
		</span>
	</div>

	<div class="container our-story-section py-16">

		<h3 class="our-story text-2xl font-bold">OUR STORY</h3>

		<div class="our-story-sub-1">What you need to know about <span>ZdsLogic Technologies</span></div>

		<div class="our-story-sub-text">
			<div>
				The Social Network for Technology minded individuals (and friends).
				<strong>ZdsLogic Technologies</strong> was founded in <br> January of 2014 by
				<strong>Richard K Campion</strong>. Richard began his Software Development journey as
				a COBOL programmer <br> and somehow survived the PC revolution
				when C was king. Richard has worked within teams of software <br>
				developers, programming in Java, TypeScript, C++ and C.
			</div>

			<div>
				<br>
				<div>
					<strong>DBA:</strong> ZdsLogic Technologies LLC. <br> 
					<strong>Customer Service Address:</strong> 4 Meetinghouse Ln, Unit #4, Little Compton, RI,
					02837 <br> 
					<strong>Customer Service Phone Number:</strong> 401-608-2548 <br> 
					<strong>Customer Service Email Address:</strong> admin@zdslogic.com <br> 
					<strong>Pricing: Subscription:</strong> 29.99/month <br> 
					<strong>Return/Refund Policy:</strong> 30-days <br> 
					<strong>Shipping Method:</strong> USPS (United States Postal Service) <br>
					<hr >
					<h1><strong>Software Development and Training</strong></h1>
					<ul class="mb-8 pl-8">
						<li class="list-disc">Software Development and Training</li>
						<li class="list-disc">Java, Springboot and Angular +2</li>
					</ul>

					<iframe
						src="https://www.youtube.com/embed/eIXpQdAnv3U?rel=0&amp;amp;mute=1&amp;showinfo=0&amp;autoplay=0&amp;loop=0"
						width="100%" height="450" frameborder="0" allowfullscreen></iframe>
										
				</div>				
			</div>
		</div>
	</div>
	
<!--
	<div class="container site-map-section py-20">
		<div class="site-map-header">Our Site Map <span>Nodes Chart</span></div>		
		<div class="site-map-text">
			<p>This Site Map Nodes Chart will help you navigate through the ZdsLogic Technologies website.</p>
		</div>

		<div class="site-map-chart">
			<app-site-map-nodes-chart class="mx-auto"></app-site-map-nodes-chart>
		</div>

	</div>
-->

	<div class="recruiting-section w-full py-20">
		<div class="container flex flex-auto gap-24">
			<div class="w-3/5">
					<h2 class="text-6xl font-bold mb-4">Technical <span>Recruiting</span></h2>				
					<p class="text-black text-2xl leading-8">
						ZdsLogic Technologies has partnered with Recruiting Agencies. Let us help you find the best talent in the industry
					</p>
					<ul>
						<li><strong>Resumes</strong></li>
						<li><strong>Job Board</strong></li>
						<li><strong>Profiles</strong></li>
						<li>Messaging</li>
						<li>Video Conferencing</li>
					</ul>				
			</div>

			<div class="w-2/5">
				<img src="assets/images/about/recruiting.png">
			</div>		
		</div>		
	</div>

	<div class="smart-home-section w-full py-20">
		<div class="container flex flex-auto gap-24">
			<div class="w-2/5">
				<img src="assets/images/about/smart-home.png">
			</div>
			<div class="w-3/5">
					<h2 class="text-6xl font-bold mb-4">Smart <span>Home</span></h2>				
					<p class="text-black text-2xl leading-8">
						At ZdsLogic Technologies, we do Smart Home development and implementations. 
					</p>
					<p class="text-black text-2xl leading-8 mt-8">
						Let us help you enable your home with Smart Home technology.
					</p>
					
			</div>
		</div>		
	</div>

	<div class="who-section w-full py-20">
		<div class="container flex flex-col">			
			<h2 class="text-6xl font-bold mb-4">Who are the <span>Five</span> Regional Internet Registry (RIR)?</h2>				
			
			<ul>
				<li>African Network Information Centre (AfriNIC) - Administers IP Addresses for the continent of Africa</li>
				<li>American Registry for Internet Numbers (ARIN) - Administers IP addresses for Canada, the United States, and many Caribbean and North Atlantic islands</li>
				<li>Asia-Pacific Network Information Centre (APNIC) - Administers IP addresses for Asia, Australia, and surrounding Countries</li>
				<li>Latin America and Caribbean Network Information Centre (LACNIC) - Administers IP addresses for Latin America and parts of the Caribbean</li>
				<li>Réseaux IP Européens Network Coordination Centre (RIPE NCC) - Administers IP addresses for Europe, the Middle East, and the former USSR</li>
			</ul>	
		</div>		
	</div>
	
<!--
	<div class="container knowledge-section py-20 text-center">
		<h2 class="text-6xl font-bold mb-4">Our Knowledge <span>Nodes Chart</span></h2>			

		<div class="knowledge-chart">
			<app-knowledge-nodes-chart class="mx-auto"></app-knowledge-nodes-chart>
		</div>
		
	</div>
-->

	<div class="starting-section w-full py-20">
		<div class="container flex flex-auto gap-24">
			<div class="w-3/5">
					<h2 class="text-6xl font-bold mb-4">Create your account today and enjoy the Monthly Subscription</h2>				
					<p class="text-white text-2xl leading-8">
						Hire a development team built for success. Our plans are straight forward but the way we put your team together is not. We offer plans for every budget and every need. Reach out and we'll put a plan together just for you
					</p>
					<a href="/about"><button class="text-black text-sm px-12 py-4 rounded mt-4">Get Started</button></a>		
			</div>

			<div class="w-2/5">
				<img src="assets/images/about/starting.png">
			</div>		
		</div>		
	</div>

</div>