pdf-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

textarea {
    margin-top: 15px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

mat-card-title, mat-card-actions {
    text-align: center;
}

mat-card-content{
	text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.advanced-color{
    color: #3f51b5;
}

.beginner-color{
    color: #f44336;
}

// Styling of tabs in the top banner (on the right side) of a coordinet-component
.mat-tab-list {

  // Remove underline
  mat-ink-bar.mat-ink-bar {
    display: none;
  }

  // Tabs with rounded corners.
  .mat-tab-labels {
    color: black; // TODO: theme color

    .mat-tab-label {
      height: 72px;
      padding: 0 48px;
      border-radius: 10px 10px 0px 0px;
      background-color: #F2F8FF;
      color: black;
      border: 1px solid #D0DCEA;
      font-weight: 600;

      &.mat-tab-label-active {
        border-bottom: none;
        min-width: 160px !important;
        background-color: #D6ECEC; // TODO: theme color
        color: black; // TODO: theme color
        opacity: 1;
        font-weight: 700;
      }
    }
  }
}

