<mat-card class="container"> <mat-card-title class="title">
<div>File Upload</div>
</mat-card-title> <mat-card-content>

<form enctype="multipart/form-data" method="post">
	<div class="upload-container" appDnd (fileDropped)="onFileDropped($event)">
		<input type="file" #fileDropRef id="fileDropRef" multiple
			(change)="fileBrowseHandler($event.target.files)" /> <img
			src="assets/img/dnd/ic-upload-file.svg" alt="">
		<h3>Drag and drop file here</h3>
		<h3>or</h3>
		<label for="fileDropRef">Browse for file</label>
	</div>
	<br/>
	<div class="files-list">
		<div class="single-file" *ngFor="let file of files; let i = index">
			<img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
			<div class="info">
				<h4 class="name">{{ file?.name }}</h4>
				<p class="size">{{ formatBytes(file?.size) }}</p>
				<app-progress [progress]="file?.progress"></app-progress>
			</div>
			<img src="assets/img/dnd/ic-delete-file.svg" class="delete"
				width="20px" alt="file" (click)="deleteFile(i)">
		</div>
	</div>
	<!--  <button type="button" (click)="upload()">Upload</button> -->
	<button class="btn btn-primary" (click)="upload()" type="submit">Upload</button>
</form>
</mat-card-content> 
</mat-card>