<div class="mx-auto flex flex-col min-w-full">
	<div class="flex flex-col p-6 sm:p-10">
		<form [formGroup]="addressForm" autocomplete="off" novalidate (ngSubmit)="updateAddress(addressForm.value)">
			<div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-2xl mx-auto">

				<mat-card-title class="mb-4 text-center">Update Address</mat-card-title>

				<mat-card-content>

					<div fxLayout="column wrap">

						<mat-form-field>
							<input matInput type="text" placeholder="Street Number" formControlName="streetNumber"
								id="streetNumber">
							<mat-hint align="end">Not more then 60 characters long.</mat-hint>
							<mat-error *ngIf="hasError('streetNumber', 'required')">Street Number is
								required</mat-error>
							<mat-error *ngIf="hasError('streetNumber', 'maxlength')">You have more than 60
								characters</mat-error>
						</mat-form-field>

						<mat-form-field>
							<input matInput type="text" placeholder="streetName" formControlName="streetName" id="streetName">
							<mat-hint align="end">Not more then 60 characters long.</mat-hint>
							<mat-error *ngIf="hasError('streetName', 'required')">Street Name is required</mat-error>
							<mat-error *ngIf="hasError('streetName', 'maxlength')">You have more than 60
								characters</mat-error>
						</mat-form-field>

						<mat-form-field>
							<input matInput type="text" placeholder="City" formControlName="city"
								id="city">
							<mat-hint align="end">Not more then 60 characters long.</mat-hint>
							<mat-error *ngIf="hasError('city', 'required')">Language Id is required</mat-error>
							<mat-error *ngIf="hasError('city', 'maxlength')">You have more than 60
								characters</mat-error>
						</mat-form-field>

						<mat-form-field>
							<input matInput type="text" placeholder="Country Id" formControlName="countryId" id="countryId">
							<mat-hint align="end">Not more then 60 characters long.</mat-hint>
							<mat-error *ngIf="hasError('countryId', 'required')">Country Id is required</mat-error>
							<mat-error *ngIf="hasError('countryId', 'maxlength')">You have more than 60
								characters</mat-error>
						</mat-form-field>

					</div>

				</mat-card-content>

				<mat-card-actions align="start">
					<button mat-raised-button color="primary" [disabled]="!addressForm.valid">Update</button>
					<button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
				</mat-card-actions>

			</div>
		</form>
	</div>
</div>