<div class="flex flex-col items-center justify-center w-full">
	<div class="header-image flex flex-auto items-center justify-center text-center">
		<span class="header-text"> 
			The Social Network for Change!
		</span>
	</div>

	<div class="container our-story-section py-16">

		<h3 class="our-story text-2xl font-bold">OUR STORY</h3>

		<div class="our-story-sub-1">What you need to know about <span>Tivertonia</span></div>

		<div class="our-story-sub-text">
			<div>
				The Social Network for Change!
			</div>

			<div>
				<br>
				
			</div>
		</div>
	</div>
	
	<div class="recruiting-section w-full py-20">
		<div class="container flex flex-auto gap-24">
			<div class="w-3/5">
					<h2 class="text-6xl font-bold mb-4">Technical <span>Recruiting</span></h2>				
					<p class="text-black text-2xl leading-8">
						ZdsLogic Technologies has partnered with Recruiting Agencies. Let us help you find the best talent in the industry
					</p>
					<ul>
						<li><strong>Resumes</strong></li>
						<li><strong>Job Board</strong></li>
						<li><strong>Profiles</strong></li>
						<li>Messaging</li>
						<li>Video Conferencing</li>
					</ul>				
			</div>

			<div class="w-2/5">
				<img src="assets/images/about/recruiting.png">
			</div>		
		</div>		
	</div>

	<div class="smart-home-section w-full py-20">
		<div class="container flex flex-auto gap-24">
			<div class="w-2/5">
				<img src="assets/images/about/smart-home.png">
			</div>
			<div class="w-3/5">
					<h2 class="text-6xl font-bold mb-4">Smart <span>Home</span></h2>				
					<p class="text-black text-2xl leading-8">
						At ZdsLogic Technologies, we do Smart Home development and implementations. 
					</p>
					<p class="text-black text-2xl leading-8 mt-8">
						Let us help you enable your home with Smart Home technology.
					</p>
					
			</div>
		</div>		
	</div>

	<div class="who-section w-full py-20">
		<div class="container flex flex-col">			
			<h2 class="text-6xl font-bold mb-4">Who are the <span>Five</span> Regional Internet Registry (RIR)?</h2>				
			
			<ul>
				<li>African Network Information Centre (AfriNIC) - Administers IP Addresses for the continent of Africa</li>
				<li>American Registry for Internet Numbers (ARIN) - Administers IP addresses for Canada, the United States, and many Caribbean and North Atlantic islands</li>
				<li>Asia-Pacific Network Information Centre (APNIC) - Administers IP addresses for Asia, Australia, and surrounding Countries</li>
				<li>Latin America and Caribbean Network Information Centre (LACNIC) - Administers IP addresses for Latin America and parts of the Caribbean</li>
				<li>Réseaux IP Européens Network Coordination Centre (RIPE NCC) - Administers IP addresses for Europe, the Middle East, and the former USSR</li>
			</ul>	
		</div>		
	</div>
	
<!--
	<div class="container knowledge-section py-20 text-center">
		<h2 class="text-6xl font-bold mb-4">Our Knowledge <span>Nodes Chart</span></h2>			

		<div class="knowledge-chart">
			<app-knowledge-nodes-chart class="mx-auto"></app-knowledge-nodes-chart>
		</div>
		
	</div>
-->

	<div class="starting-section w-full py-20">
		<div class="container flex flex-auto gap-24">
			<div class="w-3/5">
					<h2 class="text-6xl font-bold mb-4">Create your account today and enjoy the Monthly Subscription</h2>				
					<p class="text-white text-2xl leading-8">
						Hire a development team built for success. Our plans are straight forward but the way we put your team together is not. We offer plans for every budget and every need. Reach out and we'll put a plan together just for you
					</p>
					<a href="/about"><button class="text-black text-sm px-12 py-4 rounded mt-4">Get Started</button></a>		
			</div>

			<div class="w-2/5">
				<img src="assets/images/about/starting.png">
			</div>		
		</div>		
	</div>

</div>
