<section fxLayout="row wrap" fxLayoutAlign="center center">
	<mat-card fxFlex="100%" fxFlex.xs="100%"> 
	<mat-card-title>ProductBundle Details</mat-card-title>
	<form novalidate>
		<p-panel> 
		<mat-card-content>

		<div fxLayout="column wrap" fxLayoutAlign="center start">

				<div fxLayout="row" fxFlex>
					<div>
						<strong>Product Id:</strong>
					</div>
					&nbsp;
					<div>{{productBundle?.productId}}</div>
				</div>
					
			</div>
			</mat-card-content> 
			
			<mat-card-actions>
				<button mat-raised-button color="primary" (click)="onCancel()">OK</button>
			</mat-card-actions> 
			
		</p-panel>
	</form>
	</mat-card>
</section>