<div class="mx-auto flex flex-col min-w-full">
	<HEADER>
		<div class="navbar navbar-dark bg-dark sdadow-sm">
			<div class="navbar-brand align-item-center d-flex">
				<!--
				<i style="font-size: 25px;" class="fas fa-shipping-fast"> <strong>Shop</strong>
				</i> 
				-->
				<fa-icon class="fa-1x" icon="shipping-fast"></fa-icon><strong>Shop</strong>
			</div>

			<div class="right-container">
				<input type="text" class="search-box" [(ngModel)]="searchString" placeholder="Search" />
				<button class="sub-btn">Search</button>
			</div>

			<button routerLink="/shop/cart" class="btn btn-dark">
				<!--
				<i style="font-size: 30px;" class="fas fa-cart-plus"></i>								
				-->
				<fa-icon class="fa-1x" icon="shopping-cart"></fa-icon> 

				<div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
			</button>

		</div>

	</HEADER>

	<!-- Slider -->
	<div id="slider">
		<div class="slides">
			<div class="slider">
				<!-- <div class="legend"></div> -->
				<!-- <div class="content">
        <div class="content-txt">
          <h1>Lorem ipsum dolor</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div> -->
				<div class="image">
					<img src="assets/common/images-slide/linux-slide.png">
				</div>
			</div>
			<div class="slider">
				<!-- <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Lorem ipsum dolor</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div> -->
				<div class="image">
					<img src="assets/common/images-slide/java-slide.png">
				</div>
			</div>
			<div class="slider">
				<!-- <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Lorem ipsum dolor</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div> -->
				<div class="image">
					<img src="assets/common/images-slide/java-spring-framework-slide.png">
				</div>
			</div>
			<div class="slider">
				<!-- <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Lorem ipsum dolor</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div> -->
				<div class="image">
					<img src="assets/common/images-slide/angular-slide.png">
				</div>
			</div>
		</div>
		<div class="switch">
			<ul>
				<li>
					<div class="on"></div>
				</li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>

	<app-product [searchString]='searchString'></app-product>

</div>